body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("—Pngtree—yellow white abstract background_1897467.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

form {
    max-width: 800px;
    margin: auto;
    margin-top: 11%;
    background-color: rgb(255, 172, 17);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(8, 8, 8, 0.634);
    border: none;
    border-radius: 20px;
    color: rgb(234, 225, 225);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 100%;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: black;
    color: rgb(255, 172, 17);
}
